@import '../../styles/global';

.footer-wrapper {
  &::before {
    background: $black;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    content: '';
    display: block;
    height: 1px;
    width: 100%;
  }
}

.footer {
  display: grid;
  column-gap: 4.21rem;
  row-gap: 1.3125rem;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: (2.25rem, auto, 1.5rem);
  padding-bottom: 4.625rem;
  padding-top: 4rem;
  height: 100%;

  &__title {
    grid-row: 1/2;
    font-weight: $font-bold;
    font-size: $text-sm;
    max-width: 10.4375rem;
  }

  &__item {
    grid-row: 2/3;
    font-size: $text-ty;
    line-height: 1.125rem;
    color: $grey;
    margin-bottom: 1.3125rem;
    max-width: 18.1875rem;

    &:last-child {
      padding-bottom: 2.3125rem;
    }
  }

  &__input {
    margin-top: 1.6875rem;
    margin-bottom: 0.625rem;
  }

  &__logo {
    height: 100%;
  }

  &__copyright {
    font-weight: 500;
    color: #333;
    font-size: $text-ty;
    height: 100%;
    padding: 0.5rem 0;
  }
}

.social {
  grid-column: 5/6;
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: start;
  align-items: center;
  gap: 2.1775rem;
}
