@import '../../styles/global';

.card {
  background: #f9f9f9;
  height: 28.25rem;
  width: 19.375rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  transition: all 0.3s ease-in;

  &__img {
    height: 19.375rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__footer {
    height: 8.875rem;
    background: $white;
    width: 100%;
    padding: 1.8125rem 1.1875rem 1.5625rem;
  }

  &__title {
    font-weight: $font-bold;
    font-size: $text-base;
    line-height: 1.25rem;
    color: #333333;
    text-decoration: none;
    transition: all 0.3s ease-in;
  }

  &__description {
    margin-top: 0.2rem;
    color: #333333;
  }

  &__price {
    margin-top: 1.4375rem;
    font-weight: $font-bold;
  }

  &__btn {
    transition: all 0.3s ease-in;
    position: absolute;
    bottom: 10.375rem;
    opacity: 0;
  }

  &:hover,
  &:focus,
  &active {
    transition: all 0.3s ease-out;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.14);

    .card__btn {
      transition: all 0.3s ease-out;
      opacity: 1;
    }

    .card__title {
      text-decoration: underline;
      transition: all 0.3s ease-out;
    }
  }
}
