@import '../../styles/global';

.header {
  display: flex;
  height: 4.375rem;
  justify-content: space-between;
  align-items: center;

  &__link {
    color: $black;
    font-weight: $font-bold;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 0.75rem;

    &--disable {
      font-size: $text-1xs;
      font-weight: $font-regular;
      margin: 0 1rem;
    }
  }

  &__icon {
    padding: 0 1rem;
  }
}
