.btn {
  background: $primary;
  color: $white;
  cursor: pointer;
  font-family: $font-sans;
  font-size: $text-base;
  font-weight: $font-bold;
  padding: 1.125rem 4.625rem;
  text-decoration: uppercase;
  outline: none;
  border: 2px solid $primary;
  line-height: 20px;
  word-wrap: no-wrap;

  @media (max-width: 60rem) {
    padding: 0.75rem 2.625rem;
  }

  &:hover,
  &:active {
    background: $orange;
    border: 2px solid $orange;
  }

  &:active,
  &:focus {
    text-decoration: underline;
    outline: none;
  }

  &--small {
  padding: 1rem 2.3125rem;
  font-size: $text-ty;

  }

  &--ghost {
    background: $white;
    border: 2px solid $black;
    color: $black;

    &:hover,
    &:active {
      background: $grey-400;
      border: 2px solid $black;
    }
  }
}
