$font-sans: 'Montserrat', Arial, sans-serif; 

$font-regular: 400;
$font-bold: 700;    

$text-1xs: 0.625rem;
$text-xs: 0.6875rem;
$text-sm: 0.875rem;
$text-base: 1rem;
$text-2xl: 1.125rem;
$text-3xl: 1.875rem;
$text-4xl: 2.75rem;
$text-5xl: 3.5rem;

$tracking-tighter: -0.05em;
$tracking-tight: -0.025em;
$tracking-normal: 0;
$tracking-wide: 0.025em;
$tracking-wider: 0.05em;
$tracking-widest: 0.1em;
